<h1>Welcome!</h1>
<p>This website runs on Azure and was built using:</p>
<ul>
  <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
  <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
  <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
</ul>
<p>Things to take a look at:</p>
<ul>
    <li><a href='http://www.anthonymallgren.com'>Personal website</a></li>
    <li><a href='https://www.youtube.com/channel/UCycMTvQEUkc61qy-WoWLyKQ/videos'>YouTube channel</a> covering recent R&amp;D efforts</li>
</ul>